/* Рамка для контейнеров и колонок */
.container-lg,
.col-lg-5 {
  border: 5px solid black;
  padding: 0 10px;
}
/* Закругление изображения */
.rounded-img {
  width: 100%;
  border-radius: 50%;
}
/* Размер изображения об ошибке */
.error-img {
  width: 70%;
}
/* Размер изображения поля Drag&Drop */
.upload-loader__image {
  width: 80%;
}
/* Иконка загрузки */
.loader {
  border: 50px solid #f3f3f3;
  border-top: 50px solid black;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  animation: spin 2s linear infinite;
}

/* Вращение иконки загрузки */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
